body {
	mso-line-height-rule: exactly;
}

table, tr, td {
	border-collapse: separate;
}

a {
	text-decoration: underline;
	font-weight: bold;
}

p {
	margin-top: $paragraph-margin-top;
	width: 100%;

	&.lead {
		margin-top: 0px;
	}

}

.bullet {
	color: $rider-red;
	padding-right: 8px;
	font-size: 24px;
	vertical-align: text-top;
	display: inline-block;
}

.list {
	margin-top: $paragraph-margin-top;
	margin-bottom: $paragraph-margin-bottom - 10px;

	tr td {
		padding-bottom: 10px;

		&:first-child {
			width: 20px !important;
		}

	}

}

.button {
	letter-spacing: 1px;

	td {
		line-height: 100% !important;
	}

}

.divider a {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	font-weight: normal;
}

td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {

	&.social {
		width: 105px !important;

		img {
			width: 16px !important;
		}

	}

}

table.button table td a {
	display: inline-block;
	text-align: center;
}

// Footer
.wrapper.secondary {
	background: $rider-dark-red;

	* {
		color: $white !important;
		font-size: 12px;
	}

	a {
		color: $white !important;

		&:hover {
			color: $white;
		}

	}

	span {
		color: $white !important;
	}

	p {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	table.menu td.menu-item,
	table.menu th.menu-item {
		padding-left: 0px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.wrapper-inner {
		padding: 5px 10px 15px 10px;
	}

}

.hero-image-container {
	margin-bottom: 30px;
	width: 100% !important;
}

.hero-image {
	max-width: 100%;
	width: 550px;

	.has-sidebar & {
		width: 363px;
	}

}

.wrapper.header {
	width: $global-width;

	.container {
		background: transparent;
		border-bottom: 2px solid #575d5c; /* $rider-dark-gray */
		width: $global-width - 50px;
		
		> tbody > tr > td {
			padding-bottom: 15px;
		}

	}

	.wrapper-inner {
		padding: 16px 0;
	}

	.columns {
		padding-bottom: 0px;
	}

}

.browser-link {

	.wrapper-inner {
		padding: 5px 0px;
	}

	a {
		font-size: 9px;
		font-weight: normal;
		text-align: center;
		display: block;
	}

}

.thumbnail-links {
	margin-top: $paragraph-margin-top;
	margin-bottom: $paragraph-margin-bottom;

	img {
		width: 168px;
	}

	.caption {
		background: $rider-dark-red;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 100% !important;
	}

	h2 {
		color: $white;
		font-size: 13px;
		line-height: 125% !important;
	}

}

th.callout-inner.secondary {
	background-color: $rider-light-gray;
}

.main {

	td.large-4,
	th.large-4 {
		
		&.last {
			padding-left: 0px;
		}

	}

}

.sidebar {

	> table {
		background-color: $rider-light-gray;
		padding: 0px 15px;
	}

	th {
		padding: 0px 15px;
	}

	.sidebar-inner-table {

		tr {

			&:last-child td {
				border-bottom: 0;
			}

		}

		td {
			padding: 15px 0px;
			border-bottom: 2px solid $rider-medium-gray;

			&,
			* {
				font-size: 12px;
			}

		}

	}

}

@media only screen and (max-width: 625px) {

	.wrapper.secondary .wrapper-inner {
		padding: 5px 0px 15px 0px;
	}

	.wrapper.header {
		width: 100% !important;

		.wrapper-inner {
			padding-left: 25px !important;
			padding-right: 25px !important;
		}

	}
	
	.thumbnail-links img {
		width: 100% !important;
	}

	.hero-image {
		width: 100% !important;
	}

}
