td.large-12.last,
th.large-12.last {

	&.main-inner {
		padding-left: 25px;
		padding-right: 25px;
	}

}

h1 {
	margin-bottom: 0 !important;
}

a {
	text-decoration: underline;
	font-weight: bold;
}

p {
	margin: $paragraph-margin-bottom 0;

	&.lead {
		margin: 0 0 $paragraph-margin-bottom;
	}

}

ul,
ol {
	margin-top: 0;
	padding-left: 20px;
	margin-bottom: 15px;

	li {
		margin-bottom: 10px;
	}

}

ul {

	&.red-bullets {
		list-style: none !important;

		li {
			text-indent: -21px;
		}

		.bullet {
			color: $rider-red;
			padding-right: 8px;
			font-size: 24px;
			line-height: 0;
			vertical-align: middle;
			display: inline;
			line-height: 0;
		}

	}

	.bullet {
		width: 0;
		height: 0;
		display: none; /* Generic */
		mso-hide: all; /* Outlook clients */
		overflow: hidden; /* Generic */
	}

}

.button {
	letter-spacing: 1px;
}

.divider a {
	cursor: default;
	pointer-events: none;
	text-decoration: none;
	font-weight: normal;
}

td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {

	&.social {
		width: 105px;

		img {
			width: 100%;
		}

	}

}

.wrapper.secondary {
	background: $rider-dark-red;

	* {
		color: $white !important;
		font-size: 12px;
	}

	a {
		color: $white !important;

		&:hover {
			color: $white;
		}

	}

	p {
		margin: 0;
	}

	table.menu td.menu-item,
	table.menu th.menu-item {
		padding-left: 0;
		padding-right: 5px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.wrapper-inner {
		padding: 5px 10px 15px 10px;

		@media only screen and (max-width: 566px) {
			padding: 5px 0 15px 0;
		}

	}

}

.hero-image {
	margin-bottom: 30px;
	width: 100% !important;
}

.header {

	.container {
		background: transparent;
		border-bottom: 2px solid #575d5c; /* $rider-dark-gray */
		width: $global-width - 50px;
		
		> tbody > tr > td {
			padding-bottom: 15px;
		}

	}

	.wrapper-inner {
		padding: 16px;
	}

	.columns {
		padding-bottom: 0;
	}

}

.browser-link {

	.wrapper-inner {
		padding: 5px 0;
	}

	a {
		font-size: 9px;
		font-weight: normal;
		text-align: center;
		display: block;
	}

}

.thumbnail-links {
	margin: $paragraph-margin-bottom 0;

	img {
		width: 163px;

		@media only screen and (max-width: 566px) {
			width: 100% !important;
		}

	}

	h2 {
		background: $rider-dark-red;
		color: $white;
		font-size: 13px;
		padding: 10px;
	}

}
